.panelNegro {
	
		-fx-background-color: black;

 

}

.panelBlanco {
	
		-fx-background-color: white;

}

.pokeball {
	
	
		-fx-background-image: url("../img/pokeball.jpg");
		-fx-background-size: cover;
		
}

.panelPokedexLogin {
	
	
		-fx-background-image: url("../img/pokedexLogin.jpg");
		-fx-background-size: cover;
		
}

.panelPokedexRegister {
	
		-fx-background-image: url("../img/pokedexRegister.jpg");
		-fx-background-size: cover;
	
}

.panelPokeNuevo {
	
		-fx-background-image: url("../img/nuevoPoke.png");
		-fx-background-size: cover;
	
}

.PikachuLogin1 {
	
		-fx-image: url("../img/fondoPikachu4.png");
		-fx-background-size: cover;
		
}

.PikachuLogin2 {
	
	
		-fx-image: url("../img/fondoPikachu2.png");
		-fx-background-size: cover;
		
}

.Pikachu3 {
	
		-fx-image: url("../img/fondoPikachu1.png");
		-fx-background-size: cover;
		
}

.Pikachu4 {
	
	
		-fx-image: url("../img/fondoPikachu3.png");
		-fx-background-size: cover;
		
}

.botones {
	
		-fx-background-color: #E45652;
		-fx-border-radius: 20%;
	
	
}

.barraMenu {
	
	-fx-background-color: darkred;
	
}


.fieldRegister {
	
		-fx-background-color: lightgray;
	
	
}

.botonRegistrar {
	
		-fx-background-color: #E45652;
		-fx-border-radius: 100%;
	
	
}

.fields {
	
		-fx-background-color: #9C2B27;
		-fx-border-width: 2px;
		-fx-border-color: gray;
		
	
	
}